<br>
<div class="zone-2">
  <div id="photoBox" class="mt-3 mb-2 ml-2 mr-2 toCenter">
    <div class="profile"></div>
  </div>
  <div class="headTitle">
    <h1><b>{{modello.nomePizzeria}}</b></h1>
  </div>
  <div class="subTitle">
    <h2>{{modello.sottoTitolo}}</h2>
  </div>


  <div class="group-1" *ngFor="let item of modello.vettoreTesti">
    <div class="title">
      <div class="box">
        <h2>{{item.header}}</h2>
      </div>
    </div>
    <div class="desc">{{item.testoHeader}}
    </div>
  </div>
  <br>
  <!-- <iframe
    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FRDTcompany&amp;tabs=timeline&amp;width=340&amp;height=300&amp;small_header=true&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=false&amp;appId=297805400554907"
    width="100%" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe> -->
  <div class="group-1">
    <div class="title">
      <div class="box-menu">
        <h2>{{modello.titoloMenu}}</h2>
      </div>
    </div>
    <!-- <div class="headTitle">
    <h3>{{modello.titoloMenu}}</h3>
  </div> -->
    <div class="group-1" *ngFor="let menu of modello.elementiMenu">
      <div class="title">
        <div class="box" [attr.id]="menu.titolo">
          <h2>{{menu.titolo}}</h2>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="desc col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let elemento of menu.elementi">
          <app-elemento [elemento]="elemento"></app-elemento>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
