
.pizza{
    border-radius: 15px;
    max-width:800px;
    max-height:240px;
    box-shadow: 0 30px 40px 10px rgba(0,0,0,.2);
    overflow: hidden;
    display:flex;
  }
  

  
@media (min-width: 768px) {
  
.pizza{
  min-height: 185px;
}
}

  .pizza__hero{
    flex: 0 0 45%;
    
  }
  
  .pizza__content{
    display:flex;
    flex-direction:column;
     
    flex:1;
    background:#fff;
    padding:15px 15px;
    
  }
  
  .pizza__price{
    flex: 0 1 50px;
    background:linear-gradient(to bottom,#67b26f,#4ca2cd);
    writing-mode: horizontal-rl;
    color:white;
    font-size:18px;
    
    display:flex;
    align-items:center;
    justify-content:center;
  }
  
  .pizza__img{
    width:100%;
    display:block;
  }
  
  .pizza__title{
    display:flex;
    align-items:center;
    margin-bottom:20px;
  }
  
  .pizza__heading{
    font-size:20px;
    margin-right:auto;
  }
  
  .pizza__tag{
    font-size:10px;
    text-transform:uppercase;
    color:#fff;
    padding:3px 10px;
    margin:2px;
    border-radius:50px;
    
  }
  
  .pizza__tag--1{ background-color:#67b26f;} 
  .pizza__tag--2{background-color:#4ca2cd;} 
  .pizza__tag--3{background-color:#bacd4c;} 
  .pizza__tag--4{background-color:#ce692e;} 
  .pizza__tag--5{background-color:#ce2e23;} 
  .pizza__tag--6{background-color:#8e2ece;} 
  .pizza__tag--7{background-color:#ce2e99;} 
  
  .pizza__description{ font-size:14px;}
  
  .pizza__details{
    display:flex;
    margin-top:auto;
  }
  .pizza__detail{
    font-size:15px;
    text-transform:uppercase;
    margin-right:20px;
    font-weight:700;
    
    display:flex;
    align-items:center;
  }
  
  .emoji{
    font-size:20px;
    margin-right:3px;
  }
  
  
  
  
  