<figure class='pizza'>
  <div class="pizza__content col-10" [class]="elemento.immagine ? 'col-10' :'col-12'">
    <div class="pizza__title">
      <h1 class="pizza__heading">{{elemento.elemento}}</h1>

    </div>
    <p class="pizza__description" *ngIf="elemento.ingredienti">
      {{elemento.ingredienti}}
    </p>
    <div class="pizza__details">
      <p class="pizza__detail"><span class="emoji">💶</span> {{elemento.moneta}}{{elemento.prezzo}}</p>
      <div *ngFor="let attributo of elemento.attributi, index as i">
        <div class="pizza__tag" [class]="'pizza__tag--'+ i">
          {{attributo}}
        </div>
      </div>
    </div>

  </div>
  <div class="pizza__content_img col-2"  *ngIf="elemento.immagine"
  
  [style.background-image]="'url(./../../../assets/' +elemento.immagine + '.jpg)'">  </div>

</figure>
