/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
  --primaryColMic: #ffdf00;
  --secondaryColMic: #4caf50;
  --textPrimary: #d4b900;
}
app-sidebar,
#mySideNav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--primaryColMic);
  color: var(--secondaryColMic);
  width: 100vw;
  z-index: 1;
  bottom: 0;
  height: fit-content;
  left: 0;
  overflow-x: hidden;
  transition: .5s;
}

app-topbar,
#mySideNav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: var(--primaryColMic);
  color: var(--secondaryColMic);
  width: 100vw;
  z-index: 1;
  bottom: 0;
  height: fit-content;
  left: 0;
  overflow-x: hidden;
  transition: .5s;
}

app-content,
#myContent {
  height: max-content;
  min-height: 100vh;
  background-color: white;
  color: black;
  width: 100vw;
  z-index: 0;
}
#container {
  display: flex;
}

.clickable {
  cursor: pointer;
}
